<template bindable="title">
    <nav class="au-navbar au-navbar--dev navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="au-navbar__item" href="#/modules">
                            <!--<span class="au-navbar__item--icon au-icon au-icon--modules"></span>-->
                            <span class="au-navbar__item--text">MODULES</span>
                        </a>
                    </li>
                    <li>
                        <a class="au-navbar__item" href="#/customers">
                            <!--<span class="au-navbar__item--icon au-icon au-icon--customers"></span>-->
                            <span class="au-navbar__item--text">CUSTOMERS</span>
                        </a>
                    </li>
                    <li>
                        <a class="au-navbar__item" href="#/surveys">
                            <!--<span class="au-navbar__item--icon au-icon au-icon--surveys"></span>-->
                            <span class="au-navbar__item--text">SURVEYS</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="au-navbar__item au-navbar__profile dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="au-navbar__profile--picture img-circle" ng-if="$ctrl.getProfilePicture()" ng-src="{{$ctrl.getProfilePicture()}}">
                            <span class="au-navbar__profile--email" ng-bind="$ctrl.getProfileNick()"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" ng-click="$ctrl.logout()" translate="NAV.PROFILE.LOGOUT"></a>
                            </li>
                            <li class="dropdown-header" translate="NAV.PROFILE.LANGUAGE"></li>
                            <li>
                                <a href="" ng-click="$ctrl.selectLanguage(de)" translate="GENERAL.LANGUAGES.DE">
                                </a>
                            </li>
                            <li class="dropdown-header" translate="NAV.VERSION"></li>
                            <li>
                                <a href="">
                                Version 1.0
                            </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</template>