<template>
  <div class="au-container container">
    <div class="row">
      <div class="col-md-12">
        <div class="tool-box">
            <button class="btn btn-au btn-outline btn-au-primary">
                	Add
            </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="au-table table table-striped">
          <tr repeat.for="module of modules" click.trigger="selectModule($index)">
            <td>
              ${module}
            </td>
            <td>Duration</td>
            <td>AAAAA</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</template>