
.btn-au-plus {
  background-color: #53595f;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 3px;
}


//outlined buttons
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-au-primary.btn-outline {
  color: $au-color-mandy;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-au-primary.btn-outline:hover {
  color: #fff !important;
  font-weight: bold !important;
}