$navbar-height: 60px;
$navbar-default-bg: red;
$navbar-padding-vertical: $navbar-height / 2;

//colors
$nav-color-dev: red;
$nav-color-prod: red;

.au-navbar {
  &--prod {
    border-bottom: 4px solid $nav-color-prod !important;

    .active {
      a {
        color: $nav-color-prod !important;
      }
    }
  }

  &--dev {
    border-bottom: 4px solid $nav-color-dev !important;

    .active {
      a {
        color: $nav-color-dev !important;
      }
    }
  }

  &__item {
    display: flex !important;
    flex: 100% 1 0 !important;
    align-items: center !important;
    justify-content: flex-start !important;

    //general
    font-size: 16px;
    padding-right: 20px;
    cursor: pointer;

    &--icon {
      font-size: 28px;
    }

    &--text {
      padding: 0 20px 0 15px;
    }
  }

  .nav {
    .active {
      a {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  &__profile {
    &--picture {
      height: 30px;
      width: 30px;
      min-width: 30px;
      margin-right: 10px;
    }

    &--email {
      padding-right: 5px;
    }
  }

  ion {
    &:before {
      font-weight: bold;
    }
  }
}