.au-table {
  thead {
    th {
      text-align: left;
    }

    .ng-table-sort-header {
      display: none;
    }

    .ng-table-filters {
      th {
        border: none;
        padding-left: 0;

        &:first-child {
          width: 150px;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #e6e6e6;
        border-bottom: 5px solid #e6e6e6;
      }

      &:nth-of-type(even) {
        border-bottom: 5px solid #f8f8f8;
        background-color: #f8f8f8;
      }

      &.clickable-row {
        cursor: pointer;
      }
    }

    td {
      height: 50px;
      text-align: left;
      vertical-align: middle !important;

      &.main-information {
        font-weight: bold;
      }

      .unselect-box,
      .au-statuslamp {
        margin-left: 5px;
      }
    }
  }
}

.au-statuslamp {
  background: #fff;
  border: 2px solid $brand-secondary;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;

  &--active {
    background: $brand-secondary;
    cursor: pointer;
  }
}